h1 {
  font-family: 'Montserrat', sans-serif;
}

div#unprintable_area {
  width: 600px;
  text-align: center;
}

div#preview {
  width: 500px;
  text-align: center;
}

canvas.page {
  page-break-inside: avoid;
  width: 100%;
}

iframe {
  margin-top: 20px;
  margin-bottom: 30px;
}

#printable_area {
  display: none;
}

#message {
  text-align: center;
  vertical-align: middle;
  font-size: 16pt;
  margin: 20px;
  padding: 10px;
  border: solid;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  border-radius: 5px;
}

#message p {
  margin: 0;
}

#succeeded {
  font-size: 20pt;
}

#footer {
}

input {
  width: 2em;
}

@page {
  size: 8.3in 11.7in;
  margin: 0;
}

@media print {
  #printable_area {
    padding: 5mm;
    display: block;
  }
}
